.composition {
    @media (min-width: 768px) {
        padding: 7.5em 0;
        // padding-top: 7.5em;
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__slider {
        margin-bottom: 1em;

        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 46.375em;
        }
    }

    &__content {
        @media (min-width: 768px) {
            width: 57.5em;
        }
    }

    &__img {
        @media (min-width: 768px) {
            width: 46.375em;
            height: 49.375em;
        }
    }

    &__control {
        position: relative;
        height: 3.125em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        @media (min-width: 768px) {
            columns: 2;
            column-gap: 2em;
        }
    }

    &__item {
        margin-bottom: 0.375em;
        @media (min-width: 768px) {
            line-height: 1.1;
        }

        span {
            color: rgba($main_color, 0.6);
            transition: 0.3s;

            font-size: 1em;
            @media (min-width: 768px) {
                font-size: 1.125em;

            }
        }
    }

    &__doc {
        .row__list {
            @media (min-width: 768px) {
                columns: inherit;
            }
        }
    }

}
