.equipment {
    @media (min-width: 768px) {
        padding: 7.5em 0;

    }

    &__wrap {
        position: relative;
        // border: 1px solid #000;
        @media (min-width: 768px) {
            min-height: 50em;
        }

    }

    &__box {
        // border: 1px solid #000;

        width: 106.25em;
        height: 75em;
        // background-image: url("../img/box.webp");

        font-size: 0.2em;
        @media (min-width: 768px) {
            position: absolute;

            top: 50%;
            transform: translateY(-50%);
            right: 0;
            font-size: 1em;
            font-size: 0.6em;
            z-index: 1;

        }
    }

    &__tabs {
        @media (min-width: 768px) {
            width: 45.625em;
            position: relative;
            z-index: 2;
        }
    }

    &__content {}

    &__row {
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 4em;
        }

        // &:last-child {
        //     margin-bottom: 0;
        // }

        &_sensors {
            margin-bottom: 1.375em;
        }
    }

    &__label {
        margin-bottom: 0.875em;
        @media (min-width: 768px) {
            margin-bottom: 1.25em;

        }

        span {
            font-weight: 600;
            font-size: 1.125em;
            transition: 0.3s;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        // start sensors
        &_sensors {
            display: flex;
            flex-wrap: wrap;

            .equipment__item {
                border-radius: 0.5625em;
                background-color: #E7ECF5;
                box-shadow: 0 3px 5px rgba(154, 170, 198, 0.45);
                margin-right: 0.625em;
                margin-bottom: 0.625em;
                transition: 0.3s;

                padding: 0.5em 0.75em;
                @media (min-width: 768px) {
                    padding: 0.625em 1.125em;

                }

                span {
                    font-size: 0.8125em;
                    @media (min-width: 768px) {
                        font-size: 0.875em;

                    }
                }
            }
        }
        // end sensors

        // end multisensor
        &_multisensor {
            display: flex;
            flex-wrap: wrap;
            gap: 0.625em;
        }
        // end multisensor

        // start included
        &_included {
            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 0.75em;
            }

            .equipment__item {
                display: flex;
                align-items: center;
                margin-bottom: 1em;

                &:last-child {
                    margin-bottom: 0;
                }
                @media (min-width: 768px) {
                    margin-bottom: 0;
                }

                span {
                    font-size: 1em;
                    @media (min-width: 768px) {
                        font-size: 1.125em;

                    }
                }
            }
        }
        // end included

        // start list
        &_list {
            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 0.75em;
            }

            .equipment__item {
                position: relative;
                padding-left: 1.75em;

                margin-bottom: 0.45em;

                &:last-child {
                    margin-bottom: 0;

                }
                @media (min-width: 768px) {
                    margin-bottom: 0;
                }

                span {
                    font-size: 1em;
                    @media (min-width: 768px) {
                        font-size: 1.125em;

                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0.7em;
                    display: block;
                    width: 0.375em;
                    height: 0.375em;
                    border-radius: 100%;
                    background-color: rgba($main_color, 0.6);
                    font-size: 0.75em;
                    transition: background-color 0.3s;
                    @media (min-width: 768px) {
                        font-size: 1em;

                    }

                }
            }
        }
        // end list
    }

    &__item {
        span {
            color: rgba($main_color, 0.6);
            transition: 0.3s;
        }
    }

    &__icon {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 2em;
        height: 2em;
        border-radius: 100%;
        margin-right: 0.75em;

        background-color: #E7ECF5;
        color: rgba($main_color, 0.6);
        transition: 0.3s;
    }

    &__action {
        margin-top: 2.25em;

        .btn {
            margin-bottom: 1.5em;
            @media (min-width: 768px) {
                margin-bottom: 0;

            }
        }

        @media (min-width: 768px) {
            display: flex;
            align-items: center;

            > * {
                margin-right: 48px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
        color: $main_color;
        font-weight: 600;
        font-size: 1.125em;

        &:before {
            display: inline-block;
            // content: '\e92a';
            content: '';
            // font-family: 'icomoon';
            // font-size: 1.5em;
            // color: $color_info;
            // transform: translateY(0.35em)scale(1);
            transform: translateY(0.35em);
            margin-right: 0.55em;
            transition: 0.3s;

            width: 2em;
            height: 2em;
            background-image: url("../img/compare_icon.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        // &:hover {
        //     &:before {
        //         transform: translateY(0.35em)scale(1.2);

        //     }
        // }
    }

}

.drop {
    position: relative;
    cursor: pointer;

    .drop__toggle {
        box-shadow: 0 3px 5px rgba(154, 170, 198, 0.45);
        border-radius: 0.5625em;
        background-color: #E7ECF5;

        transition: 0.2s;
        padding: 0.5em 0.75em;

        &:after {
            content: '\e92c';
            font-family: 'icomoon';
            color: rgba($main_color, 0.6);
            line-height: 0.6;
            display: inline-block;
            margin-left: 0.5em;
            transform: translateY(0.125em)scale(1);

            transition: 0.2s;

        }

        @media (min-width: 768px) {
            padding: 0.625em 1.125em;
        }

        span {
            font-size: 0.8125em;
            @media (min-width: 768px) {
                font-size: 0.875em;

            }
        }

        &.active {
            border-radius: 0.625em 0.625em 0 0;

            &:after {
                transform: translateY(0.125em)scale(-1);
            }
        }
    }

    &__list {
        background-color: $color_white;
        position: absolute;
        width: 100%;
        box-shadow: 0 3px 5px rgba(154, 170, 198, 0.45);
        border-radius: 0 0 0.625em 0.625em;
        height: 0;
        overflow: hidden;
        opacity: 0;
        top: 130%;
        z-index: 1;
        transition: 0.2s;
        border-top: 0;

        &.open {
            height: auto;
            opacity: 1;
            top: 100%;
            border-top: 0.125em solid rgba(#8393AF, 0.2);

        }
    }

    &__item {
        padding: 0.25em 1em;

        &:first-child {
            padding-top: 0.5em;
        }

        &:last-child {
            padding-bottom: 0.75em;
        }

        span {
            font-size: 0.75em;
        }

    }

}
