.example {
    background-color: $color_light_bg;
    transition: background-color 0.3s;
    @media (min-width: 768px) {
        padding-top: 5.625em;
        /* 90/16 */
        padding-bottom: 7.5em;
        /* 120/16 */
    }

    &__content {
        @media (min-width: 768px) {
            .section__content {
                columns: 2;
                column-gap: 2em;

            }
        }
    }

    &__form {
        margin-top: 3.75em;
        @media (min-width: 768px) {
            margin-top: 6.25em;

        }
    }

    &__laboratory {
        max-width: 75em;
        /* 1200/16 */
        margin: 0 auto;
        font-size: 1.176em;

        height: 26em;
        @media (min-width: 768px) {
            height: 42em;

        }
    }

}

.laboratory {
    font-size: 0.56em;
    @media (min-width: 768px) {
        font-size: 1em;

    }

    height: 100%;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    &__header {
        background-color: $color_white;
        border-bottom: 0.125em solid #CECECE;
        padding: 0.75em 1em;
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.25em 1.875em;

        }

    }

    &__subject {
        span {
            font-size: 0.875em;
            font-weight: 600;
            color: #1E1F25;
        }
    }

    &__step {
        font-size: 0.875em;
        color: #383E47;
    }

    &__main {
        flex-grow: 1;

        background: #fcfcfc;
        background-image: linear-gradient(rgba(206, 206, 206, 0.55), transparent 0.0625em), linear-gradient(90deg, rgba(206, 206, 206, 0.55), transparent 0.0625em);
        background-size: 0.6em 0.6em;
        background-position: center center;
        padding: 1em 1.875em 0;

        display: flex;
        flex-direction: column;
        overflow: hidden overlay;
    }

    &__page {
        height: 100%;
        display: none;
        position: relative;
        z-index: 1;

        &.active {
            display: block;
        }
    }

    &__wrap {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__label {
        background: #DDF0F9;
        border-radius: 0.3125em;
        font-size: 1.4em;
        font-weight: 500;
        padding: 0.7em;
        max-width: 20em;
        color: #00B5FF;
        text-align: center;
    }

    &__title {
        flex-grow: 1;
        min-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-weight: 800;
            font-size: 1.7em;
            max-width: 25em;
            text-align: center;
            line-height: 1.4;
            color: #666F7E;
        }
    }

    &__subtitle {
        background: transparent;
        padding-left: 0.4em;
        margin-bottom: 0.4em;
        font-size: 1.6em;
        font-weight: 800;
        border-left: solid 0.25em #00B5FF;
        text-transform: lowercase;
    }

    &__desc {
        background: transparent;
        border: solid 0.125em #00B5FF;
        font-size: 1.4em;
        font-weight: 500;
        padding: 0.2em;
        max-width: 15em;
        color: #00B5FF;
        text-align: center;
        margin-bottom: 0.6em;
    }

    &__content {
        p {
            font-size: 1.2em;
            color: #383E47;
        }

        .center {
            text-align: center;
        }

    }

    &__footer {
        padding: 0.875em 1.875em 0.75em;
        position: relative;
        background-color: $color_white;
    }

    &__line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.125em;
        background-color: #CECECE;

        &_bg {
            background-color: #00B5FF;
            height: 100%;
            transition: 1s;
        }
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow {
        display: flex;
        align-items: center;
        margin: 0 1.875em;
        cursor: pointer;
        color: #666F7E;
        transition: 0.3s;
        line-height: 1;

        &:hover {
            color: #8b93a1;
        }

        span {
            font-size: 0.875em;
        }

        i {}

        &_prew {
            display: none;

            i {
                margin-right: 0.5em;
                transform: rotate(-180deg);
            }
        }

        &_next {
            display: none;

            &.active {
                display: flex;
            }

            i {
                margin-left: 0.5em;
            }
        }
    }

    &__row {
        flex-grow: 1;
        height: 100%;
        padding-bottom: 1em;
        @media (min-width: 768px) {
            display: flex;

            > * {
                width: 50%;
            }
        }
    }

    &__col {

        @media (min-width: 768px) {
            &:first-child {
                padding-right: 1.85em;
                border-right: 0.0625em solid #00B5FF;
            }

            &:last-child {
                padding-left: 1.85em;
            }
        }
    }

    &__preview {
        width: 31.25em;
        height: 33.75em;

        font-size: 0.75em;
        @media (min-width: 768px) {
            font-size: 1em;
        }

        &_full {
            width: 100%;
            height: 30em;
        }

        .preview {
            width: 100%;
            height: 100%;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            width: 1em;
            height: 1em;
            background-image: url("../img/tick.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 0.5em;
        }

        span {
            font-size: 0.875em;
            color: #383E47;
        }

    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 0.0625em solid #00B5FF;
        border-radius: 0.125em;
        color: #444754;
        background: #F6F8F8;
        font-size: 0.5em;
        @media (min-width: 768px) {
            font-size: 1em;
        }

        tr {
            border-bottom: 0.0625em solid #00B5FF;

            &:last-child {
                border-bottom: 0;
            }
        }

        td,
        th {
            width: 9.52381%;

            &:first-child {
                width: 14.2857%;
            }
            text-align: left;
            font-size: 1em;
            padding: 0.5625em 1.25em;

            &:nth-child(n+2) {
                border-left: 0.0625em solid #00B5FF;

            }
        }
    }
}
