.firstscreen {
    background-image: url("../img/firstscreen_bg_m.webp");
    background-position: center;

    @media (min-width: 768px) {
        padding-top: 0!important;
        padding-bottom: 0!important;
        width: 100%;
        height: 100vh;
        background-size: cover;
        position: relative;
    
        background-position: center 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../robot/images/robot_bg.webp");
    }

    &__content {
        &_mobile {}

        &_desktop {
            @media (min-width: 768px) {
                position: absolute;
                top: 50%;
                transform: translateY(-45%);
                left: 13.375em;
            }

        }
    }

    &__title {
        margin: 0;
        font-size: 1em;
        text-align: center;
        @media (min-width: 768px) {
            margin-bottom: 2.5em;

        }

        span {
            color: #005EA8;
            font-size: 2em;
            font-weight: 700;

            @media (min-width: 768px) {
                font-size: 4.0625em;

            }
        }
    }

    .hexagon {
        position: relative;
        width: 33.125em;
        height: 33.125em;
        left: -10em;
        font-size: 0.425em;
        @media (min-width: 768px) {
            left: auto;
            font-size: 1em;
        }

        &__button {
            position: absolute;
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("../img/hexagon_bg.svg");

            display: flex;
            width: 11.875em;
            height: 10em;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            text-decoration: none;

            transform: scale(1);
            transition: 0.3s;

            @media (min-width: 768px) {
                &:nth-child(1) {
                    top: 5.625em;
                    left: 0;
                }

                &:nth-child(2) {
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%)scale(1);
                }

                &:nth-child(3) {
                    top: 5.625em;
                    right: 0;
                }

                &:nth-child(4) {
                    bottom: 5.625em;
                    right: 0;
                }

                &:nth-child(5) {
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%)scale(1);
                }

                &:nth-child(6) {
                    bottom: 5.625em;
                    left: 0;
                }
            }

            &:nth-child(7) {

                @media (min-width: 768px) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%)scale(1);

                }

                background-image: url("../img/hexagon_bg_reverse2.svg");

                .hexagon__link {
                    position: relative;
                    display: block;
                    width: 7.75em;
                    height: 7.75em;
                    // overflow: hidden;
                    // border: 1px solid #000;

                    .cor {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 150%;
                        height: 150%;
                        transform: translate(-50%,-50%);
                    }

                    svg {
                        width: 100%;
                        height: 100%;

                    }

                }

                .hexagon__icon {
                    color: $color_white;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 2em;
                    height: 2em;

                    border-radius: 100%;
                    border: 0.0625em solid $color_white;

                    i {
                        font-size: 0.75em;
                    }
                }

                .hexagon__label {
                    color: $color_white;
                }

                &.disabled,
                &:disabled {
                    .hexagon__icon {
                        border: 0.0625em solid rgba($color_white, .6);
                    }

                    .hexagon__icon {
                        color: rgba($color_white, .6);
                    }

                    .hexagon__label {
                        color: rgba($color_white, .6);
                    }
                }

            }

            &.disabled,
            &:disabled {

                pointer-events: none;
                cursor: not-allowed;

                .hexagon__icon {
                    color: rgba(#08203A, .6);
                }

                .hexagon__label {
                    color: rgba(#08203A, .6);
                }

            }

            @media (min-width: 768px) {
                &:hover {
                    transform: scale(1.2);

                    &:nth-child(2) {
                        transform: translateX(-50%)scale(1.2);
                    }

                    &:nth-child(5) {
                        transform: translateX(-50%)scale(1.2);
                    }

                    &:nth-child(7) {
                        transform: translate(-50%,-50%)scale(1.2);
                    }
                }
            }

        }

        &__icon {
            position: relative;
            z-index: 1;
            color: $color_info;
            line-height: 1;
            margin-bottom: 0.5em;

            transition: 0.3s;

            i {
                font-size: 2.5em;
            }
        }

        &__label {
            position: relative;
            z-index: 1;
            color: #005EA8;
            text-align: center;
            line-height: 1;
            transition: 0.3s;

            span {
                font-weight: 500;
                font-size: 1em;
            }
        }

    }

    canvas {
        width: 100%;
        height: 100%;
    }
}

.no-flickr {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.firstscreen__content_mobile {
    position: relative;
    // padding-bottom: 2em;

    .firstscreen__title {
        // padding-bottom: 13em;
    }

    .robot {
        &__slider {
            // min-width: 1px;
            position: absolute;
            bottom: 6em;
            right: -1em;
            // border: 1px solid green;
            width: 15em;
        }

        &__img {
            width: 67.5em;
            height: 120em;
            font-size: 0.22em;
            // border: 1px solid red;

        }

        &__menu {
            padding-top: 20em;
            position: relative;
            z-index: 1;
            // position: initial;
            // border: 1px solid #000;
            // height: 32.125em;
            font-size: 0.5em;
            display: flex;
            justify-content: space-between;
            width: 32em;

        }

        &__col {
            .hexagon__button {
                position: initial;
                margin-bottom: 1em;
                background-image: url("../img/hexagon_bg.webp");
                opacity: 0.9;

                &:last-child {
                    margin-bottom: 0;
                }

                &.active {
                    opacity: 1;

                    background-image: url("../img/hexagon_bg_reverse.webp");

                    .hexagon__icon {
                        color: $color_white;
                    }

                    .hexagon__label {
                        color: $color_white;
                    }
                }
            }

            .hexagon__button_cor {
                background-image: url("../img/hexagon_bg_reverse2.svg");
                opacity: 1;
            }

            &:nth-child(2) {
                margin-top: 5.5em;
                margin-left: -1.75em;
            }

            &:nth-child(3) {
                margin-top: 11em;
                margin-left: -1.75em;
            }
        }

    }
}
