.neuro {

    @media (min-width: 768px) {
        background-image: url("../img/neuro_bg.svg");
    }

    &__content {

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__left {
        @media (min-width: 768px) {
            margin-top: 3em;
        }
    }

    &__macbook {
        background-image: url("../img/macbook_neuro.png");
        width: 53.5em;
        height: 40.625em;

        font-size: 0.4em;
        margin: 0 auto;

        @media (min-width: 768px) {
            font-size: 1em;
            margin: 0;
        }
    }

    &__right {
        margin-top: -0.25em;
        @media (min-width: 768px) {
            margin-top: 0;
            width: 40.875em;
            margin-left: 6.25em;
        }
    }

}
