@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?to3v5s');
  src:  url('fonts/icomoon.eot?to3v5s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?to3v5s') format('truetype'),
    url('fonts/icomoon.woff?to3v5s') format('woff'),
    url('fonts/icomoon.svg?to3v5s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_play:before {
  content: "\e927";
}
.icon_compare:before {
  content: "\e924";
}
.icon_check_mark:before {
  content: "\e91f";
}
.icon_cheak_list:before {
  content: "\e920";
}
.icon_list:before {
  content: "\e928";
}
.icon_note:before {
  content: "\e921";
}
.icon_sim:before {
  content: "\e922";
}
.icon_glasses_book:before {
  content: "\e923";
}
.icon_mac:before {
  content: "\e91b";
}
.icon_windows:before {
  content: "\e91c";
}
.icon_linux:before {
  content: "\e91d";
}
.icon_physics:before {
  content: "\e900";
}
.icon_maths:before {
  content: "\e901";
}
.icon_chemistry:before {
  content: "\e902";
}
.icon_biology:before {
  content: "\e903";
}
.icon_geography:before {
  content: "\e904";
}
.icon_natural_science:before {
  content: "\e905";
}
.icon_ecology:before {
  content: "\e906";
}
.icon_obj:before {
  content: "\e907";
}
.icon_world:before {
  content: "\e908";
}
.icon_nanotechnology:before {
  content: "\e909";
}
.icon_baby:before {
  content: "\e90a";
}
.icon_engineering:before {
  content: "\e90b";
}
.icon_astronomy:before {
  content: "\e90c";
}
.icon_history:before {
  content: "\e90d";
}
.icon_physical:before {
  content: "\e90e";
}
.icon_clock:before {
  content: "\e90f";
}
.icon_certification:before {
  content: "\e910";
}
.icon_location:before {
  content: "\e911";
}
.icon_mouse:before {
  content: "\e912";
}
.icon_phone:before {
  content: "\e913";
}
.icon_loop:before {
  content: "\e914";
}
.icon_mail:before {
  content: "\e915";
}
.icon_moon:before {
  content: "\e916";
}
.icon_arrow_circle:before {
  content: "\e91a";
}
.icon_arrow_right:before {
  content: "\e917";
}
.icon_arrow_left:before {
  content: "\e929";
}
.icon_to_Top:before {
  content: "\e91e";
}
.icon_slider_left:before {
  content: "\e925";
}
.icon_slider_right:before {
  content: "\e926";
}
.icon_sun:before {
  content: "\e918";
}
.icon_close:before {
  content: "\e919";
}
