$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_play: "\e927";
$icon_compare: "\e924";
$icon_check_mark: "\e91f";
$icon_cheak_list: "\e920";
$icon_list: "\e928";
$icon_note: "\e921";
$icon_sim: "\e922";
$icon_glasses_book: "\e923";
$icon_mac: "\e91b";
$icon_windows: "\e91c";
$icon_linux: "\e91d";
$icon_physics: "\e900";
$icon_maths: "\e901";
$icon_chemistry: "\e902";
$icon_biology: "\e903";
$icon_geography: "\e904";
$icon_natural_science: "\e905";
$icon_ecology: "\e906";
$icon_obj: "\e907";
$icon_world: "\e908";
$icon_nanotechnology: "\e909";
$icon_baby: "\e90a";
$icon_engineering: "\e90b";
$icon_astronomy: "\e90c";
$icon_history: "\e90d";
$icon_physical: "\e90e";
$icon_clock: "\e90f";
$icon_certification: "\e910";
$icon_location: "\e911";
$icon_mouse: "\e912";
$icon_phone: "\e913";
$icon_loop: "\e914";
$icon_mail: "\e915";
$icon_moon: "\e916";
$icon_arrow_circle: "\e91a";
$icon_arrow_right: "\e917";
$icon_arrow_left: "\e929";
$icon_to_Top: "\e91e";
$icon_slider_left: "\e925";
$icon_slider_right: "\e926";
$icon_sun: "\e918";
$icon_close: "\e919";

