// Breadcrumb ==================================================================

.breadcrumbs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	padding-bottom: 0;
	font-size: 1em;

	@media (min-width: 768px) {
		padding-bottom: 0.75em;
	}

	.kama_breadcrumbs {
		font-size: 0.75em;

		a {
			text-decoration: none;
		}

		a,
		span {
			color: rgba($color_white, 0.8);

			/* 12/16 */
			@media (min-width: 768px) {}
		}

		span {
			> a {
				> span {
					font-size: 1em;
				}
			}
		}

		.kb_sep {

			transform: translateY(-0.15em);
			display: inline-flex;
			margin: 0 0.5em;
			width: 0.3em;
			height: 0.3em;
			background-color: rgba($color_white, 0.8);
			border-radius: 50%;
			font-size: 1em;
		}

		// .kb_title {
		// 	color: $main_color;
		// 	font-weight: 600;
		// }

	}

	&_dark {
		.kama_breadcrumbs {
			a,
			span {
				color: rgba($main_color, 0.6);
				transition: 0.3s;
			}

			.kb_sep {
				background-color: rgba($main_color, 0.6);
				transition: 0.3s;
			}
		}

	}

}
