.contacts {
    font-size: 0.83em;
    @media (min-width: 768px) {
        font-size: 1em;
    }

    &__list {}

    &__item {

        display: flex;
        align-items: center;
        margin-bottom: 1.0625em;

        &:last-child {
            margin-bottom: 0;
        }

        i {
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 2.875em;
            height: 2.875em;

            border-radius: 100%;

            background-color: rgba(49, 151, 216, 0.25);
            color: $color_white;
            margin-right: 1.25em;

            transition: 0.3s;

            &:before {
                font-size: 1.25em;

            }
        }

        .icon_mail {
            &:before {
                font-size: 1em;
            }
        }

        span {
            font-size: 1.375em;
            color: $color_white;
            transition: 0.3s;
        }

        a {
            font-size: 1.375em;
            color: $color_white;
            text-decoration: none;

        }
    }

}
