.figure {
    .container_center {
        position: relative;
    }

    // width: 100%;
    // height: 100vh;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        li {
            position: absolute;
            display: block;
            list-style: none;
            width: 1.25em;
            height: 1.25em;
            animation: animate 25s linear infinite;
            bottom: -14em;

            &:nth-child(1) {
                left: -3%;
                border-top: 3.125em solid transparent;
                border-right: 6.25em solid rgba(255, 255, 255, 0.4);
                border-bottom: 3.125em solid transparent;
                filter: blur(8px);
                animation-delay: 0s;
            }

            &:nth-child(2) {
                left: 62%;
                width: 7.25em;
                height: 7.25em;
                animation-delay: 2s;
                // animation-duration: 12s;
                background: rgba(255, 255, 255, 0.3);
                filter: blur(6px);
                border-radius: 0.375em;
                animation: animate_reverse 12s linear infinite;

            }

            &:nth-child(3) {
                left: 10%;
                width: 1.25em;
                height: 1.25em;
                animation-delay: 4s;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 100%;
            }

            &:nth-child(4) {
                left: 94%;
                width: 4.5em;
                height: 4.5em;
                animation-delay: 0s;
                animation-duration: 18s;
                background: rgba(255, 255, 255, 0.3);
                filter: blur(6px);

            }

            &:nth-child(5) {
                left: 25%;
                width: 5em;
                height: 5em;
                animation-delay: 0s;
                background: rgba(255, 255, 255, 0.6);
                filter: blur(6px);
            }

            &:nth-child(6) {
                left: 40%;
                animation-delay: 3s;
                border-top: 2.5em solid transparent;
                border-right: 5em solid rgba(255, 255, 255, 0.2);
                border-bottom: 2.5em solid transparent;
                filter: blur(8px);
            }

            &:nth-child(7) {
                left: 78%;
                width: 14em;
                height: 14em;
                animation-delay: 7s;
                border-radius: 12.5em;
                background: rgba(255, 255, 255, 0.1);
                filter: blur(6px);
            }

            &:nth-child(8) {
                left: 50%;
                width: 1.5625em;
                height: 1.5625em;
                animation-delay: 15s;
                animation-duration: 45s;
                background: rgba(255, 255, 255, 0.8);
                filter: blur(6px);
                border-radius: 100%;
            }

            &:nth-child(9) {
                left: 20%;
                width: 1em;
                height: 1em;
                animation-delay: 2s;
                animation-duration: 35s;
                background: rgba(255, 255, 255, 1.8);
                filter: blur(6px);
                border-radius: 100%;
            }

            &:nth-child(10) {
                left: 10%;
                animation-delay: 0s;
                animation-duration: 11s;
                border-top: 7em solid transparent;
                border-right: 14em solid rgba(255, 255, 255, 0.2);
                border-bottom: 7em solid transparent;
                filter: blur(8px);
                animation: animate_reverse 11s linear infinite;
            }
        }

    }

    .figure__list_form-row {
        li {
            &:nth-child(1) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(2) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(3) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(5) {
                left: -22%;
                @media (min-width: 768px) {
                    left: 21%;

                }
            }

            &:nth-child(8) {
                // left: -22%;
                left: 48%;
                // @media (min-width: 768px) {}
            }

            &:nth-child(9) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(10) {
                display: none;
                @media (min-width: 768px) {
                    left: 13%;
                    font-size: 0.75em;
                    display: block;
                }
            }

        }

    }

    .figure__list_form-grid {
        li {
            &:nth-child(1) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(2) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(3) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(5) {
                left: -22%;
                @media (min-width: 768px) {
                    left: 21%;

                }
            }

            &:nth-child(6) {
                left: 48%;
            }

            &:nth-child(9) {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }

            &:nth-child(10) {
                display: none;
                @media (min-width: 768px) {
                    left: 13%;
                    font-size: 0.75em;
                    display: block;
                }
            }

        }

    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        // border-radius: 0;
    }

    100% {
        transform: translateY(-67.5em) rotate(720deg);
        opacity: 0;
        // border-radius: 50%;
    }

}
@keyframes animate_reverse {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        // border-radius: 0;
    }

    100% {
        transform: translateY(-67.5em) rotate(-720deg);
        opacity: 0;
        // border-radius: 50%;
    }

}

@media (min-width: 768px) {
    .animate_bg {
        .container_center {
            position: relative;
            z-index: 1;
        }
        position: relative;
        overflow: hidden;

        // animation: theme 21s linear infinite;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            // z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($main_color, 0.05);
            animation: background 90s linear infinite;
            transition: background-color 0.3s;

        }

        &:after {
            left: 15vw;
        }

        &:before {
            right: 15vw;
            animation-delay: -30s;
            animation-direction: reverse;
        }

        // &_info {
        //     &:after,
        //     &:before {
        //
        //         // background-color: rgba(#31B1FA, 0.5);
        //         // background-color: rgba($color_info, 0.5);
        //         background-color: rgba($color_dark, 0.1);
        //
        //     }
        // }
    }
}

@keyframes theme {
    // 0% {
    //     background: #74C390;
    // }
    //
    // 16% {
    //     background: #5DBDB6;
    // }
    //
    // 33% {
    //     background: #59D4E1;
    // }
    //
    // 50% {
    //     background: #51BCE8;
    // }
    //
    // 66% {
    //     background: #FA5374;
    // }
    //
    // 83% {
    //     background: #E46653;
    // }
    //
    // 100% {
    //     background: #74C390;
    // }
}

@media (min-width: 768px) {

    @keyframes background {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
