/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	.navbar__main {
		@media (min-width: 768px) {
			margin-bottom: 9.625em;

		}
	}

	position: relative;
	background-image: url("../img/footerScroll_bg.svg");
	padding-bottom: 0;
	padding-top: 1em;

	@media (min-width: 768px) {
		padding-top: 6.25em;
	}

	&__hand {
		@media (min-width: 768px) {
			position: absolute;
			bottom: 8.75em;
			right: 0;

			width: 57.5em;
			height: 17.75em;
			background-image: url("../img/footerScroll_hand_bg.png");
		}

	}
}
