.form {
	&_row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1em;

		.form__row {
			margin: 0 1em 1.25em;
			width: 100%;

			@media (min-width: 768px) {
				margin: 0 1em 1.375em;
				width: calc(25% - 2em);
			}

			&_full {
				width: 100%;
			}
		}

	}

	&_grid {

		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: 32.625em 67.25em;
			grid-column-gap: 1.875em;
			grid-row-gap: 2.125em;

			.form__row_textarea {
				grid-row-start: 1;
				grid-row-end: 4;

				grid-column-start: 2;
				grid-column-end: 3;

			}
		}

		.form__text {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

	}

	&_grid2 {
		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 1.875em;
			grid-row-gap: 2.1875em;

			.form__row {
				&:last-child {
					grid-column-start: 1;
					grid-column-end: 3;
				}
			}
		}

		.form__row {
			&:last-child {
				margin-top: -0.625em;
			}
		}

	}

	&__content {
		position: relative;
		background-image: url("../img/form_bg.svg");
		border-radius: 1.625em;
		color: $color_white;

		padding: 1.875em 1.25em 0.625em;
		@media (min-width: 768px) {
			padding: 3.125em 3.75em 4.875em;
		}

		.figure__list {

			border-radius: 1.625em;

		}
	}

	&__title {
		margin-bottom: 1em;
		@media (min-width: 768px) {
			margin-bottom: 1.375em;

		}

		span {
			font-weight: 500;
			font-size: 1.5em;
			@media (min-width: 768px) {
				font-size: 2.625em;

			}
		}
	}

	&__subtitle {
		line-height: 1.6;
		margin-bottom: 1.875em;
		/* 30/16 */
		@media (min-width: 768px) {
			margin-bottom: 2.875em;

		}

		span {
			font-size: 1em;
			@media (min-width: 768px) {
				font-size: 1.125em;

			}
		}
	}

	&__row {
		position: relative;
		@media (max-width: 767px) {
			margin-bottom: 1.25em;

		}

		&:hover {
			.form__label {
				span {
					color: rgba($color_white, 1);
				}
			}
		}

		.btn,
		input:not([type]),
		input[type=date],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			min-height: 100%;
			resize: vertical;
		}
		&.invalid {
			.form__label {
				span {
					color: rgba($color_danger, 1)!important;
				}
			}
		}

	}

	&__label {
		position: absolute;
		top: -0.5em;
		left: 0.8125em;
		background-color: #005EA8;
		padding: 0 0.375em;
		line-height: 0.8;

		span {
			font-size: 0.8125em;
			color: rgba($color_white, 0.7);
			transition: 0.3s;
		}
	}

	&__text {
		span {
			color: rgba($color_white,0.7);
			font-size: 0.75em;
			/* 12/16 */
			@media (min-width: 768px) {
				font-size: 0.875em;

			}
		}

		a {
			position: relative;
			text-decoration: none;
			color: rgba($color_white,0.7);

			&:after {
				content: '';
				position: absolute;
				bottom: -0.125em;
				left: 0;
				width: 100%;
				border-bottom: 0.0625em solid;
				border-color: rgba($color_white,0.7);
				transition: 0.3s;

			}

			&:hover {
				color: rgba($color_white,1);

				&:after {
					width: 80%;
					border-color: rgba($color_white,1);
				}
			}

		}
	}
	// Input text and textarea ================================================
	input:not([type]),
	input[type=date],
	input[type=email],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=url],
	textarea {
		background-color: transparent;
		border: 0.0625em solid;
		border-color: rgba($color_white, 0.8);
		font-family: $main_font_family;
		color: $color_white;
		outline: none;
		font-weight: 400;
		border-radius: 0.5625em;
		transition: 0.3s;

		font-size: 1em;
		padding: 1.188em 1em;
		@media (min-width: 768px) {
			font-size: 1.125em;
			padding: 1.084em 1em;
		}

		&:hover {
			border: 0.0625em solid rgba($color_white, 1);
		}

		&:focus {
			border: 0.0625em solid rgba($color_white, 1);
		}

		&.invalid {
			// background-color: rgba($color_white, 0.2);
			border: 0.0625em solid red;
		}
		// Placeholder for input +++++++++++++++
		@include placeholder {
			color: rgba($color_white, 0.8);
		}
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	appearance: none;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
	appearance: none;
	margin: 0;
}
/* Для Firefox */
input[type=number] {
	appearance: textfield;
}
