.header {
    .search {
        width: 100%;

        &-form__inner {
            position: relative;
        }

        input[type=text] {
            width: 100%;
            background-color: transparent;
            border: 0.0625em solid;
            border-color: rgba(85, 88, 96, 0.15);
            font-family: $main_font_family;
            color: $main_color;
            padding: 0.875em 1.5em;
            outline: none;
            font-size: 0.9375em;
            /* 15/16 */
            font-weight: 500;
            border-radius: 2.875em;
            transition: 0.3s;

            @media (min-width: 768px) {
                border-color: $color_white;
                color: $color_white;
                font-size: 1em;

            }

            &:hover {
                border: 0.0625em solid;
                background-color: transparent;
                border-color: rgba(85, 88, 96, 0.15);

                @media (min-width: 768px) {
                    border-color: $color_white;
                }
            }

            &:focus {
                border: 0.0625em solid;
                background-color: transparent;
                border-color: rgba(85, 88, 96, 0.15);

                @media (min-width: 768px) {
                    border-color: $color_white;
                }
            }

            &.invalid {
                background-color: transparent;
                border: 0.0625em solid $input_error_border_color;
            }
            // Placeholder for input +++++++++++++++
            @include placeholder {
                color: rgba(#B5B6B9, 0.8);
                @media (min-width: 768px) {
                    color: rgba($color_white, 0.8);

                }
            }

        }

        .btn_search {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1.5em;
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            // cursor: pointer;

            i {
                font-size: 0.875em;
                color: rgba(#00B5FF, 1);

                @media (min-width: 768px) {
                    font-size: 1.5em;
                    color: rgba($color_white, 1);

                }
            }
        }

        &__toggle {
            color: $color_white;
            cursor: pointer;
            // border: 1px solid #000;
            // padding: 0.25em 0.5em;
            color: $color_white;
            display: inline-block;
            margin-left: 1.375em;
        }

        &__content {
            position: absolute;
            top: 4em;
            left: 50%;

            height: 0;
            opacity: 0;
            visibility: hidden;

            background: $color_white;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);

            transform: translateY(0.5em)translateX(-50%);
            width: 21.5625em;
            padding: 0.25em;
            border-radius: 0.57em;
            z-index: 10;
            transition: 0.3s;

            &:after {
                content: '';
                position: absolute;
                top: -0.625em;
                left: 17em;
                width: 1.25em;
                height: 1.25em;
                background-color: $color_white;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);
                transform: rotate(-45deg);
                z-index: -1;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 15em;
                width: 4.5em;
                height: 1.25em;
                background-color: $color_white;
            }

            &_open {
                height: auto;
                opacity: 1;
                transform: translateY(0)translateX(-50%);
                visibility: visible;
            }
        }

        &__close {
            position: absolute;
            width: 1em;
            height: 1em;
            right: 0.75em;
            top: 0.75em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: red;

            &:after,
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                border-top: 0.125em solid;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:hover {
                opacity: 0.8;
            }
        }

        &-form__inner {
            position: relative;
        }
    
        /* ajax search */
        .search-form {
            position: relative;
        }
    

    
        .search-form__result {
            font-size: 0.875em;
        }
    

        .ajax-search {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: $color_white;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.06);
            border-radius: 0.57em;
            max-height: 14.375em;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 100;
            margin: 0;
            padding: 0;
            // scrollbar-color: dark;
            scrollbar-width: thin;
            overscroll-behavior: contain;
            margin-top: 1.5em;
            width: 100%;
            outline: none;
            font-size: 0.9375em;
            /* 15/16 */
            font-weight: 500;
            border-radius: 0.5em;
        }
    
        .ajax-search::-webkit-scrollbar {
            width: 0.375em;
            background-color: #eff2f3;
        }
    
        .ajax-search::-webkit-scrollbar-thumb {
            background-color: #dddddd;
            border-radius: 2em;
        }
    
        .ajax-search__item {
            position: relative;
            // border-top: 1px solid rgba(224, 229, 231, 0.5);
            padding: 0.75em 1.5em;

            cursor: pointer;
            list-style-type: none;
        }
    
        .ajax-search__link {
            line-height: 130%;
            // margin-bottom: 0.625em;
            font-size: 1em;
            display: block;
            color: $main_color;
        }
    
        .ajax-search__excerpt {
            cursor: default;
            font-size: 0.625em;
            line-height: 140%;
            color: $main_color;
        }
    }

}
