.tabs-wrapper {
    margin-top: 1.875em;
    /* 30/16 */

    @media (min-width: 768px) {
        margin-top: 3.125em;
    }

    .tabs {
        position: relative;
        display: flex;

        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 1em;
        padding-bottom: 1.5em;

        @media (min-width: 768px) {
            padding-bottom: 1.125em;
            margin-bottom: 2.375em;

            width: fit-content;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.1875em;

                background-color: rgba($color_info, 0.1);
            }

        }

        .tab {

            width: fit-content;
            flex: none;

            position: relative;
            text-decoration: none;
            font-weight: 400;
            color: #6F90B4;
            transition: 0.3s;
            cursor: pointer;

            font-size: 1em;
            margin-right: 1.25em;
            @media (min-width: 768px) {
                font-size: 1.25em;
                margin-right: 2.5em;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -0.9em;
                left: 50%;
                width: 0;
                opacity: 1;
                border-bottom: 0.1875em solid $color_info;
                /* 3/16 */
                transition: 0.3s;
                z-index: 1;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                color: $color_info;

                &:after {
                    content: '';
                    left: 0;
                    opacity: 1;
                    width: 100%;
                }

            }

            &:hover {
                color: $color_info;

                &:after {
                    content: '';
                    left: 0;
                    opacity: 1;
                    width: 100%;
                }

            }
        }

        .tab_danger {
            color: rgba($color_danger, 0.75);

            &:after {
                border-bottom: 0.1875em solid $color_danger;

            }

            &.active,
            &:hover {
                color: $color_danger;
            }
        }

    }
}
