// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	// display: flex;
	// flex-direction: column;
	font-size: calc(.0426667 * 100vw + 0px);
	// height: auto;
	// min-height: 100%;
	// color: $color_withe;

	// background-color: #101010;

	// font-size: calc(.034 * 100vw + 0px);

	@media (min-width: 768px) {
		// font-size: calc(.012 * 100vw + 0px);
		font-size: calc(.00833334 * 100vw + 0px);
	}

	@media (min-width: 1200px) {
		// font-size: calc(.00838 * 100vw + 0px);
	}

	@media (min-width: 1600px) {
		// font-size: $main_font_size;
	}

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	overflow: hidden;

	font-size: $main_font_size;

	@media (min-width: 768px) {
		font-size: 0.85em;
		// font-size: 1em;
	}
	// margin: 0 auto (-$footer_height); // отрицательный нижний отступ на высоту футера
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
	// padding-bottom: $footer_height;
	// @extend %clear_a;
}

.container_center {
	max-width: $container_width;
	padding: 0 0.9375em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 2.5em 0;

	&:first-child {
		padding-top: 5.25em;
		@media (min-width: 768px) {
			padding-top: 8em;
		}

	}

	&.pt {
		padding-top: 8em;
		@media (min-width: 768px) {
			padding-top: 12em;
		}
	}

	&__title {
		font-size: 1em;
		margin: 0;
		font-weight: 600;
		margin-bottom: 1.25em;
		line-height: 1.1;
		@media (min-width: 768px) {
			margin-bottom: 3.375em;

		}

		span {
			color: $color_white;
			font-size: 2.625em;
			@media (min-width: 768px) {
				font-size: 3.375em;
			}
		}

		&_black {
			span {
				color: $main_color;
				transition: color 0.3s;
			}
		}
	}

	&__content {
		line-height: 1.5;
		margin-bottom: 1.25em;
		@media (min-width: 768px) {
			margin-bottom: 3.75em;

		}

		p {
			margin: 2.25em 0;
			color: $color_white;
			font-size: 1em;
			transition: color 0.3s;
			@media (min-width: 768px) {
				font-size: 1.125em;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&_black {
			p {
				color: $main_color;
			}
		}
	}

	&__download {
		margin-top: 1.25em;
		margin-bottom: 1.5em;
		@media (min-width: 768px) {
			margin-top: 3.75em;
			margin-bottom: 5em;

		}
	}

	&__button {
		margin-top: 1.5em;
		@media (min-width: 768px) {
			margin-top: 3.75em;

		}

		&_buttons {
			> * {
				margin-bottom: 0.9375em;

				&:last-child {
					margin-bottom: 0;
				}

			}

			@media (min-width: 768px) {
				> * {
					margin-bottom: 0;
					margin-right: 2.1875em;

					&:last-child {
						margin-right: 0;
					}

				}
				display: flex;
				align-items: center;
			}

		}

	}
}

.main_scroll {
	@media (max-width: 767px) {

		// background-color: $color_info;
		// background-image: url("../img/main_scroll_bg_m.svg");
		background-image: url("../img/main_scroll_bg_m.webp");
		background-position-y: 54%;
		background-size: contain;
		background-repeat: no-repeat;

	}
	// touch-action: none;
}

.section_scrool {
	overflow: hidden;

	padding: 1em 0;

	@media (min-width: 768px) {
		padding: 14em 0 5em;
		margin: 0;

	}
}

.section_changeTheme {
	background-color: $color_white;
	transition: background-color 0.3s;
}

@media (min-width: 768px) {
	.following {
		text-decoration: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 4em;
		cursor: pointer;

		&:hover {
			.following__mask {
				font-size: 1.25em;
			}

			.following__btn {
				opacity: 1;
			}
		}

		&__btn {

			cursor: pointer;

			width: 2.375em;
			height: 2.375em;

			background-image: url("../img/mouse_mask.svg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			margin-bottom: 0.5em;
			opacity: 0.7;
			transition: 0.3s;

			-webkit-animation: actionMouse 0.5s linear alternate infinite;
			animation: actionMouse 0.5s linear alternate infinite;

		}

		&__label {
			color: $color_white;
			margin-bottom: 2em;

			span {
				font-weight: 300;
				font-size: 0.75em;
			}
		}

		&__mask {

			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			width: 5em;
			height: 1.0625em;

			background-image: url("../img/mask.png");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			transition: 0.3s;
			font-size: 1em;
		}
	}

}

@media (min-width: 768px) {

	@keyframes actionMouse {
		0% {
			transform: translateY(-0.0725em);
		}

		100% {
			transform: translateY(0.0725em);
		}
	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.scroolInfo {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	color: $color_white;

	&__icon {
		color: $color_white;
		font-size: 2em;
	}

	&__label {
		span {

			font-weight: 400;
			font-size: 0.875em;
		}
	}

	&__mask {

		width: 23.4375em;
		height: 1.0625em;

		background-image: url("../img/mouse_mask.svg");
	}

}

.chart {
	position: absolute;
}

.img {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.counter-wrap {
	counter-reset: line var(--line-num, 0);
}

.counter-item {
	counter-increment: line;

	.counter-el {
		&:before {
			content: counter(line) ' ';
		}
	}
}

::-webkit-scrollbar-button {
	background-image: url("");
	background-repeat: no-repeat;
	width: 0.5em;
	height: 0;
}

::-webkit-scrollbar-track {
	background-color: rgba($color_light_bg, 1);
	transition: 0.3s;

}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0.3125em;
	border-radius: 0.3125em;
	background-color: rgba($color_info, 0.75);
	transition: 0.3s;

	background-image: url("/wp-content/uploads/2021/03/59610063.png");
	background-position: center;
	background-repeat: no-repeat;
}

::-webkit-resizer {
	background-image: url("");
	background-repeat: no-repeat;
	width: 0.4375em;
	height: 0;
}

::-webkit-scrollbar {
	width: 0.75em;
}

// * {
// 	border: 1px solid #000;
// }
