/* admin panel style */
/* .field__info label {
    color: #03a9f4;
} */

/* .field__info input {
    border-color: #03a9f4;
}

.field__success input {
    border-color: #36a566;
    color: #36a566;
    font-weight: bold;
}
*/

.field__danger {
    color: #ff1a1a;
} 


.single_tab_admin {
    border: 2px solid #0659FB;
}
